<div class="calendars">
<!-- Show the calendar in descending order, latest year at the top and latest month -->
<% @outlines.sort_by {|y,data| y * -1 }.each do |year,outlines_by_month| %>

  <% outlines_by_month.sort_by {|m,outlines| m * -1 }.each do |month,outlines| %>

    <div class="month">
      <%= render partial: "month", locals: { year: year, month: month, outlines: outlines } %>
    </div>

  <% end %>
<% end %>
</div>

<br/>

<%= content_for :footer do %>
  <li><%= link_to "new", new_outline_path(outline: { publish_date: "" }) %></li>
<% end %>