<div id="footer">
  <div class="wrapper">
    <ul class="footer-nav">
      <li><a href="/news">News</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="http://tutorials.jumpstartlab.com">Tutorials</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <p>Content © Casimir Creative, LLC except where licensed otherwise.</p>
  </div>
</div>