<div class="wrapper">
  <div id="header">
    <div id="logo">
      <%= link_to image_tag("logo-bw.png", alt: "Jumpstart Lab"), root_path %>
    </div>
    <ul id="nav">
      <li><a href="news">News</a></li>
      <li><a href="courses">Courses</a></li>
      <li><a href="http://tutorials.jumpstartlab.com">Tutorials</a></li>
      <li><a href="team">Team</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</div>